In [259]:
import pandas as pd
import numpy as np
import json
import os
import tqdm
import re
import xgboost as xgb
from sklearn import preprocessing
from sklearn import cross_validation

In [312]:
def extract_date(row):
    return row['postedDate']['$date']

def get_df_from_json(filename, mode):    
    with open(filename) as json_data:
        data = json_data.readlines()
        data = map(lambda x: x.rstrip(), data)
        data_json_str = "[" + ','.join(data) + "]"
        df = pd.read_json(data_json_str)
        if mode != 'test':
            df = df.drop('_id', axis = 1)
            df.postedDate = df.apply(lambda row: extract_date(row), axis = 1)
        return df

df = get_df_from_json('jobs_huge.json', mode = 'train')

In [313]:
new_df = pd.DataFrame(columns=['string', 'class'])
columns = df.columns

#wanted to name it extract
def extra_string_n_class(row, new_df):
    for column in tqdm.tqdm(columns):
        new_df.loc[len(new_df)]=[row[column], column] 
        

df.apply(lambda row: extra_string_n_class(row, new_df), axis = 1)

0       None
1       None
2       None
3       None
4       None
5       None
6       None
7       None
8       None
9       None
10      None
11      None
12      None
13      None
14      None
15      None
16      None
17      None
18      None
19      None
20      None
21      None
22      None
23      None
24      None
25      None
26      None
27      None
28      None
29      None
        ...
3066    None
3067    None
3068    None
3069    None
3070    None
3071    None
3072    None
3073    None
3074    None
3075    None
3076    None
3077    None
3078    None
3079    None
3080    None
3081    None
3082    None
3083    None
3084    None
3085    None
3086    None
3087    None
3088    None
3089    None
3090    None
3091    None
3092    None
3093    None
3094    None
3095    None
dtype: object

In [314]:
# to save time if my ipython starts again.
new_df.to_csv('transformed_jobs.csv', encoding='utf-8', index=False)
new_df = pd.read_csv('transformed_jobs.csv', encoding='utf-8')

In [333]:
######Feature Engineering#######
def all_digits(key):
    try:
        x = int(key)
    except ValueError: 
        return 0
    return 1

def num_digits(key):
    try:
        count = sum(c.isdigit() for c in key)
        return count
    except TypeError:
        print "error while counting digts in", key
        return 10

def has_html_tags(key):
    try:
        pat = re.compile('<.*?>')
        match = re.match(pat, key)
        if match:
            return 1
        else:
            return 0
    except TypeError:
        print "error while has_html_tags  in", key
        return 10
    
def len_str(key):
    return len(key)

def occurance_count(df, key, keyname):
    return len(df[df[keyname] == key])

In [316]:
#save occurance as feature and then drop duplicates
new_df['occurance_count'] = new_df.apply(lambda row: occurance_count(new_df, row['string'], 'string'), axis = 1)
new_df = new_df.drop_duplicates()

In [317]:
# New feature columns 'all_digits', 'num_digits', 'has_html_tags', 'len_str', 'is_known_country', 'occurance_count'
new_df['all_digits'] = new_df.apply(lambda row: all_digits(row['string']), axis = 1)
new_df['num_digits'] = new_df.apply(lambda row: num_digits(row['string']), axis = 1)

In [318]:
new_df['has_html_tags'] = new_df.apply(lambda row: has_html_tags(row['string']), axis = 1)
new_df['len_str'] = new_df.apply(lambda row: len_str(row['string']), axis = 1)

In [319]:
###########Classification############
le_class = preprocessing.LabelEncoder()
le_class.fit(new_df['class'])
print le_class.classes_
new_df['en_class'] = le_class.transform(new_df['class'])
new_df

[u'category' u'city' u'country' u'description' u'postedDate' u'state'
 u'title']

,string,class,occurance_count,all_digits,num_digits,has_html_tags,len_str,en_class
0,Management Consulting,category,1590,0,0,0,21,0
1,Chicago,city,301,0,0,0,7,1
2,United States,country,3096,0,0,0,13,2
3,<DIV><B>SAP Package Technologies</B>: Perform ...,description,1,0,77,1,7792,3
4,1454025600000,postedDate,72,1,13,0,13,4
5,Illinois,state,301,0,0,0,8,5
6,SAP Ariba - Senior Consultant,title,5,0,0,0,29,6
8,Denver,city,118,0,0,0,6,1
10,<DIV><DIV><STRONG>Application Management Servi...,description,1,0,195,1,15942,3
12,Colorado,state,119,0,0,0,8,5
13,SAP QM - Manager,title,5,0,0,0,16,6
15,San Francisco,city,143,0,0,0,13,1
17,"<P style=""MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px""...",description,1,0,348,1,14717,3
19,California,state,658,0,0,0,10,5
20,Innovation Communications Manager,title,1,0,0,0,33,6
21,Information Technology,category,163,0,0,0,22,0
22,Hermitage,city,29,0,0,0,9,1
24,<DIV><FONT size=2 face=Verdana><DIV><STRONG>PR...,description,1,0,27,1,12043,3
26,Tennessee,state,47,0,0,0,9,5
27,Sr. Engagement Manager - Finance,title,1,0,0,0,32,6
28,Tax,category,444,0,0,0,3,0
29,Los Angeles,city,439,0,0,0,11,1
31,<DIV><FONT size=2 face=Verdana><DIV><B><FONT c...,description,1,0,84,1,8817,3
32,1454284800000,postedDate,36,1,13,0,13,4
34,Tax Management - TDMA Senior Consultant Tax Da...,title,1,0,0,0,65,6
35,Business Development / Sales / Marketing,category,38,0,0,0,40,0
36,Phoenix,city,117,0,0,0,7,1
38,<DIV><FONT color=black><FONT face=Calibri>Sale...,description,1,0,45,1,8724,3
40,Arizona,state,121,0,0,0,7,5
41,Cyber Risk Services Sales Executive,title,1,0,0,0,35,6
...,...,...,...,...,...,...,...,...
21566,International Tax Consultant,title,1,0,0,0,28,6
21570,"<DIV style=""FONT-WEIGHT: bold"">Deloitte Tax</D...",description,1,0,15,1,4201,3
21573,"Tax Consultant, Transfer Pricing (Full-Time Fa...",title,1,0,4,0,54,6
21577,"<P style=""MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px""...",description,1,0,20,1,2153,3
21580,AERS Advisory Consultant (Full-time) - NYC (S...,title,1,0,4,0,63,6
21584,"<div> <div><font face=""arial, sans-serif"" size...",description,1,0,39,1,3663,3
21587,Deloitte Women's Luncheon Participant - Milwau...,title,1,0,4,0,54,6
21591,"<DIV> </DIV><DIV>Deloitte & Touche LLP, which ...",description,1,0,27,1,3907,3
21594,Identity Management Senior Consultant,title,1,0,0,0,37,6
21598,<DIV>Deloitte Tax LLP helps companies understa...,description,1,0,17,1,4038,3
21601,Transfer Pricing Experienced Consultant - Chic...,title,2,0,0,0,61,6
21605,<DIV>Deloitte Tax LLP helps companies understa...,description,1,0,17,1,4038,3
21612,"<DIV> </DIV><DIV>Deloitte & Touche LLP, which ...",description,1,0,24,1,3544,3
21615,Open LDAP/Unix Engineer,title,1,0,0,0,23,6
21619,<DIV>Deloitte Tax LLP helps companies understa...,description,1,0,17,1,4029,3
21622,Transfer Pricing Senior - Chicago,title,1,0,0,0,33,6
21626,"<DIV style=""FONT-WEIGHT: bold"">Deloitte Tax</D...",description,1,0,15,1,4183,3
21629,"Detroit Tax Consulatant, Transfer Pricing (Ful...",title,1,0,4,0,70,6
21633,"<DIV style=""FONT-WEIGHT: bold""> Deloitte Tax L...",description,1,0,23,1,4412,3
21636,Tax - Multistate Staff,title,1,0,0,0,22,6
21640,<DIV>Deloitte Tax LLP helps companies understa...,description,1,0,16,1,4290,3
21643,Business Tax Services Consultant,title,1,0,0,0,32,6
21647,"<DIV style=""FONT-WEIGHT: bold""> </DIV><DIV>Del...",description,1,0,16,1,3356,3
21650,Tax Processor - Tax,title,1,0,0,0,19,6
21654,"<P style=""MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px""...",description,1,0,19,1,2113,3
21657,Advisory Consultant - Valuation - University ...,title,1,0,4,0,85,6
21661,"<P style=""MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px""...",description,1,0,20,1,2153,3
21664,Cleveland AERS Advisory Consultant (Full-time)...,title,1,0,4,0,64,6
21668,<DIV><STRONG>Job Overview & Key Relationships:...,description,1,0,26,1,3977,3
21671,Finance Security/Control Analyst,title,1,0,0,0,32,6

In [320]:
Y = new_df.en_class
X = new_df.drop(['string','class', 'en_class'], axis = 1)

In [321]:
Y = Y.reshape(6048, 1)

In [322]:
clf = xgb.XGBClassifier(objective='reg:logistic', nthread=4, seed=0)  

clf.fit(X,Y)

/home/amol/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=4,
       objective='multi:softprob', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [323]:
Y = Y.reshape(6048,)
#by default 3 fold cross_validation
scores = cross_validation.cross_val_score(clf, X, Y)

In [324]:
print scores

array([ 0.98266469,  0.99156328,  0.98857994])

In [325]:
clf.score(X,Y)
#accurcy 99% on training set

0.99388227513227512

In [382]:
test_df = get_df_from_json('test/test_tiny_1.txt', mode = 'test')

In [383]:
test_new_df = test_df[test_df['key']!='']
#5112 non-empty keys, 882 empty keys.

In [384]:
# to save time if my ipython starts again.
test_new_df.to_csv('transformed_test.csv', encoding='utf-8', index=False)
test_new_df = pd.read_csv('transformed_test.csv', encoding='utf-8')

test_new_df['occurance_count'] = test_new_df.apply(lambda row: occurance_count(test_new_df, row['key'], 'key'), axis = 1)
test_new_df = test_new_df.drop_duplicates()

strings = test_new_df['key']
# New feature columns 'all_digits', 'num_digits', 'has_html_tags', 'len_str', 'is_known_country', 'occurance_count'
test_new_df['all_digits'] = test_new_df.apply(lambda row: all_digits(row['key']), axis = 1)
test_new_df['num_digits'] = test_new_df.apply(lambda row: num_digits(row['key']), axis = 1)

test_new_df['has_html_tags'] = test_new_df.apply(lambda row: has_html_tags(row['key']), axis = 1)
test_new_df['len_str'] = test_new_df.apply(lambda row: len_str(row['key']), axis = 1)

test_new_df

,actual,id,key,occurance_count,all_digits,num_digits,has_html_tags,len_str
0,NaN,54ae5da6e4b08621addd287a,Senior Pricing and Business Intelligence Analyst,1,0,0,0,48
1,NaN,54ae5da6e4b08621addd287a,Marketing,18,0,0,0,9
2,NaN,54ae5da6e4b08621addd287a,"<h2 class=""iCIMS_SubHeader iCIMS_SubHeader_Job...",1,0,35,1,4961
3,NaN,54ae5da6e4b08621addd287a,Malvern,12,0,0,0,7
4,NaN,54ae5da6e4b08621addd287a,PA,91,0,0,0,2
5,NaN,54ae5da6e4b08621addd287d,Property Accountant,1,0,0,0,19
6,NaN,54ae5da6e4b08621addd287d,Accounting/Finance,1,0,0,0,18
7,NaN,54ae5da6e4b08621addd287d,"<h2 class=""iCIMS_SubHeader iCIMS_SubHeader_Job...",1,0,20,1,3615
8,NaN,54ae5da6e4b08621addd287d,Malvern,12,0,0,0,7
9,NaN,54ae5da6e4b08621addd287d,PA,91,0,0,0,2
10,NaN,54d0c973e4b062c582e4e33a,"Biomedical Equipment Technician I - Lansing, MI",1,0,0,0,47
11,NaN,54d0c973e4b062c582e4e33a,Biomedical/Imaging Technology,7,0,0,0,29
12,NaN,54d0c973e4b062c582e4e33a,"<div class=""iCIMS_InfoMsg iCIMS_InfoField_Job""...",6,0,16,1,6546
13,NaN,54d0c973e4b062c582e4e33a,Lansing,3,0,0,0,7
14,NaN,54d0c973e4b062c582e4e33a,MI,19,0,0,0,2
15,NaN,54d0c973e4b062c582e4e33b,Human Resources Representative– Arizona State ...,1,0,0,0,56
16,NaN,54d0c973e4b062c582e4e33b,Human Resources,45,0,0,0,15
17,NaN,54d0c973e4b062c582e4e33b,"<div class=""iCIMS_InfoMsg iCIMS_InfoField_Job""...",1,0,27,1,6232
18,NaN,54d0c973e4b062c582e4e33b,Tempe,8,0,0,0,5
19,NaN,54d0c973e4b062c582e4e33b,AZ,32,0,0,0,2
20,NaN,54d0c973e4b062c582e4e33c,Environmental Services Assistant Manager - Pit...,1,0,0,0,57
21,NaN,54d0c973e4b062c582e4e33c,Custodial/Housekeeping/Laundry,21,0,0,0,30
22,NaN,54d0c973e4b062c582e4e33c,"<div class=""iCIMS_InfoMsg iCIMS_InfoField_Job""...",1,0,14,1,6734
23,NaN,54d0c973e4b062c582e4e33c,Pittsburgh,6,0,0,0,10
24,NaN,54d0c973e4b062c582e4e33c,PA,91,0,0,0,2
25,NaN,5579761fe4b070c59f19ab4e,Cloud Service Automation Engineer Job,1,0,0,0,37
26,NaN,5579761fe4b070c59f19ab4e,Information Technology,225,0,0,0,22
27,NaN,5579761fe4b070c59f19ab4e,<p><strong>Cloud Service Automation Engineer <...,1,0,20,1,4995
28,NaN,5579761fe4b070c59f19ab4e,San Ramon,4,0,0,0,9
29,NaN,5579761fe4b070c59f19ab4e,CA,296,0,0,0,2
...,...,...,...,...,...,...,...,...
51969,NaN,55a8a9a9e4b0fed40fe13c3a,Pit Clerk,1,0,0,0,9
51970,NaN,55a8a9a9e4b0fed40fe13c3a,General - Hospitality,78,0,0,0,21
51971,NaN,55a8a9a9e4b0fed40fe13c3a,<p><strong>TABLE GAMES CLERK</strong></p><p><s...,1,0,0,1,719
51972,NaN,55a8a9a9e4b0fed40fe13c3a,Rock Island,28,0,0,0,11
51973,NaN,55a8a9a9e4b0fed40fe13c3a,IL,77,0,0,0,2
51974,NaN,55a8a9a9e4b0fed40fe13c3a,USA,599,0,0,0,3
51975,NaN,55a8a9a9e4b0fed40fe13c3c,Players Buffet Cashier,1,0,0,0,22
51976,NaN,55a8a9a9e4b0fed40fe13c3c,General - Food Service,336,0,0,0,22
51977,NaN,55a8a9a9e4b0fed40fe13c3c,"<p><st1:stockticker w:st=""on""><strong>JOB</str...",1,0,4,1,2446
51978,NaN,55a8a9a9e4b0fed40fe13c3c,Rock Island,28,0,0,0,11
51979,NaN,55a8a9a9e4b0fed40fe13c3c,IL,77,0,0,0,2
51980,NaN,55a8a9a9e4b0fed40fe13c3c,USA,599,0,0,0,3
51981,NaN,55a8a9a9e4b0fed40fe13c3d,Cook II - Captain Morgan Club,1,0,0,0,29
51982,NaN,55a8a9a9e4b0fed40fe13c3d,General - Food Service,336,0,0,0,22
51983,NaN,55a8a9a9e4b0fed40fe13c3d,<p><strong>Essential Functions:</strong></p><u...,2,0,0,1,1406
51984,NaN,55a8a9a9e4b0fed40fe13c3d,Arlington,87,0,0,0,9
51985,NaN,55a8a9a9e4b0fed40fe13c3d,TX,232,0,0,0,2
51986,NaN,55a8a9a9e4b0fed40fe13c3d,USA,599,0,0,0,3
51987,NaN,55a8a9a9e4b0fed40fe13c40,Floor Attendant,4,0,0,0,15
51988,NaN,55a8a9a9e4b0fed40fe13c40,General - Hospitality,78,0,0,0,21
51989,NaN,55a8a9a9e4b0fed40fe13c40,<p><strong>Position Summary </strong></p><p>Ma...,1,0,10,1,2682
51990,NaN,55a8a9a9e4b0fed40fe13c40,W. Memphis,35,0,0,0,10
51991,NaN,55a8a9a9e4b0fed40fe13c40,AR,69,0,0,0,2
51992,NaN,55a8a9a9e4b0fed40fe13c40,USA,599,0,0,0,3
51993,NaN,55a8a9a9e4b0fed40fe13c41,Porter/Driver,1,0,0,0,13
51994,NaN,55a8a9a9e4b0fed40fe13c41,General - Food Service,336,0,0,0,22
51995,NaN,55a8a9a9e4b0fed40fe13c41,"<p>Delaware North Companies, Incorporated and ...",1,0,15,1,2526
51996,NaN,55a8a9a9e4b0fed40fe13c41,Los Angeles,47,0,0,0,11
51997,NaN,55a8a9a9e4b0fed40fe13c41,CA,296,0,0,0,2
51998,NaN,55a8a9a9e4b0fed40fe13c41,USA,599,0,0,0,3

In [385]:
id = test_new_df.id

In [386]:
X = test_new_df.drop(['actual', 'id', 'key'], axis = 1)

In [387]:
Y_predict = clf.predict(X)

In [388]:
Y_predict = le_class.inverse_transform(Y_predict)

In [389]:
Y_predict

array([u'title', u'city', u'description', ..., u'state', u'state',
       u'category'], dtype=object)

In [390]:
#dropped empty keys and dropped duplicates.
print len(id), len(Y_predict), len(strings)

51723 51723 51723

In [391]:
ans_df = pd.DataFrame({'id': id, 'actual': Y_predict, 'key': strings})
ans_df.to_csv('test_tiny_1_out.csv', index= False, encoding='utf=8')

In [392]:
ans_df

,actual,id,key
0,title,54ae5da6e4b08621addd287a,Senior Pricing and Business Intelligence Analyst
1,city,54ae5da6e4b08621addd287a,Marketing
2,description,54ae5da6e4b08621addd287a,"<h2 class=""iCIMS_SubHeader iCIMS_SubHeader_Job..."
3,city,54ae5da6e4b08621addd287a,Malvern
4,state,54ae5da6e4b08621addd287a,PA
5,title,54ae5da6e4b08621addd287d,Property Accountant
6,title,54ae5da6e4b08621addd287d,Accounting/Finance
7,description,54ae5da6e4b08621addd287d,"<h2 class=""iCIMS_SubHeader iCIMS_SubHeader_Job..."
8,city,54ae5da6e4b08621addd287d,Malvern
9,state,54ae5da6e4b08621addd287d,PA
10,title,54d0c973e4b062c582e4e33a,"Biomedical Equipment Technician I - Lansing, MI"
11,title,54d0c973e4b062c582e4e33a,Biomedical/Imaging Technology
12,description,54d0c973e4b062c582e4e33a,"<div class=""iCIMS_InfoMsg iCIMS_InfoField_Job""..."
13,city,54d0c973e4b062c582e4e33a,Lansing
14,state,54d0c973e4b062c582e4e33a,MI
15,title,54d0c973e4b062c582e4e33b,Human Resources Representative– Arizona State ...
16,category,54d0c973e4b062c582e4e33b,Human Resources
17,description,54d0c973e4b062c582e4e33b,"<div class=""iCIMS_InfoMsg iCIMS_InfoField_Job""..."
18,city,54d0c973e4b062c582e4e33b,Tempe
19,state,54d0c973e4b062c582e4e33b,AZ
20,title,54d0c973e4b062c582e4e33c,Environmental Services Assistant Manager - Pit...
21,category,54d0c973e4b062c582e4e33c,Custodial/Housekeeping/Laundry
22,description,54d0c973e4b062c582e4e33c,"<div class=""iCIMS_InfoMsg iCIMS_InfoField_Job""..."
23,city,54d0c973e4b062c582e4e33c,Pittsburgh
24,state,54d0c973e4b062c582e4e33c,PA
25,title,5579761fe4b070c59f19ab4e,Cloud Service Automation Engineer Job
26,category,5579761fe4b070c59f19ab4e,Information Technology
27,description,5579761fe4b070c59f19ab4e,<p><strong>Cloud Service Automation Engineer <...
28,city,5579761fe4b070c59f19ab4e,San Ramon
29,state,5579761fe4b070c59f19ab4e,CA
...,...,...,...
51969,city,55a8a9a9e4b0fed40fe13c3a,Pit Clerk
51970,category,55a8a9a9e4b0fed40fe13c3a,General - Hospitality
51971,title,55a8a9a9e4b0fed40fe13c3a,<p><strong>TABLE GAMES CLERK</strong></p><p><s...
51972,city,55a8a9a9e4b0fed40fe13c3a,Rock Island
51973,state,55a8a9a9e4b0fed40fe13c3a,IL
51974,category,55a8a9a9e4b0fed40fe13c3a,USA
51975,title,55a8a9a9e4b0fed40fe13c3c,Players Buffet Cashier
51976,category,55a8a9a9e4b0fed40fe13c3c,General - Food Service
51977,title,55a8a9a9e4b0fed40fe13c3c,"<p><st1:stockticker w:st=""on""><strong>JOB</str..."
51978,city,55a8a9a9e4b0fed40fe13c3c,Rock Island
51979,state,55a8a9a9e4b0fed40fe13c3c,IL
51980,category,55a8a9a9e4b0fed40fe13c3c,USA
51981,title,55a8a9a9e4b0fed40fe13c3d,Cook II - Captain Morgan Club
51982,category,55a8a9a9e4b0fed40fe13c3d,General - Food Service
51983,title,55a8a9a9e4b0fed40fe13c3d,<p><strong>Essential Functions:</strong></p><u...
51984,city,55a8a9a9e4b0fed40fe13c3d,Arlington
51985,state,55a8a9a9e4b0fed40fe13c3d,TX
51986,category,55a8a9a9e4b0fed40fe13c3d,USA
51987,title,55a8a9a9e4b0fed40fe13c40,Floor Attendant
51988,category,55a8a9a9e4b0fed40fe13c40,General - Hospitality
51989,title,55a8a9a9e4b0fed40fe13c40,<p><strong>Position Summary </strong></p><p>Ma...
51990,city,55a8a9a9e4b0fed40fe13c40,W. Memphis
51991,state,55a8a9a9e4b0fed40fe13c40,AR
51992,category,55a8a9a9e4b0fed40fe13c40,USA
51993,title,55a8a9a9e4b0fed40fe13c41,Porter/Driver
51994,category,55a8a9a9e4b0fed40fe13c41,General - Food Service
51995,description,55a8a9a9e4b0fed40fe13c41,"<p>Delaware North Companies, Incorporated and ..."
51996,state,55a8a9a9e4b0fed40fe13c41,Los Angeles
51997,state,55a8a9a9e4b0fed40fe13c41,CA
51998,category,55a8a9a9e4b0fed40fe13c41,USA